/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 2, 2017, 10:56:28 PM
    Author     : Javier Delgado
*/


div#header {
    
    height: fit-content;
    background-color: burlywood;
    
    
}

#logo {
    
    position: relative;
    
}

/* Barra de Navegación */

.menu ul, .menu li {
	margin: 0;
	padding: 0;
}
.menu ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.menu li {
	float: left;
	position: relative;
	width:auto;
}
.menu a {
	background: burlywood;
	color: #FFFFFF;
	display: inline-block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

#firstli { border-top: 3px solid red }
#secondli { border-top: 3px solid blue }
#thirdli { border-top: 3px solid grey }
#fourthli { border-top: 3px solid green}
#fithli { border-top: 3px solid brown}


p#border1 {
    
    border: 2px solid black;
    border-left: 4px solid black;
    padding-left: 5px;
    
}

div.principal {
    
    background-color: blueviolet;
       
}

div.secundario {
    background-color: brown;
}